footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: 'Roboto';
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.221);
    margin-top: 20px;
}

.name-and-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h4 {
    opacity: 0.8;
    margin: 0;
}

h2 {
    margin-bottom: 10px;
    margin-top: 0;
}

.copyright {
    opacity: 0.8;
    margin-top: 20px;
}

.sources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    opacity: 0.8;
}

a {
    color: white;
}

@media (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    h4{
        font-size: 0.8em;
    }

    h2{
        font-size: 1.2em;
    }

    .copyright{
        font-size: 0.7em;
    }

    .sources{
        font-size: 0.8em;
    }
}