.header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: relative;
    background-color: rgb(13, 113, 200);
    height: 50px;
    box-shadow: 0 3px 7px rgba(29, 29, 29, 0.671);
    color: white;
    font-size: 1.2em;
    font-family: 'Roboto';
}

.header-logo-and-title{
    display: flex;
    align-items: center;
    justify-self: start;
    gap: 10px;
    left: 0;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

.logo{
    width: 50px;
}

.tabs{
    display: flex;
    gap: 25px;
    justify-self: center;
    font-weight: 500;
}

.tab{
    cursor: pointer;
    color: white;
    text-decoration: none;

}

.tab:hover{
    color: rgb(196, 224, 255);
}

.active{
    color: rgb(196, 224, 255);
}

/* Mobile screens */
@media (max-width: 600px) {
    .header {
        align-items: center;
        height: 40px;
        font-size: 0.85em;
    }

    .logo {
        width: 35px;
    }

    .title{
        display: none;
    }

    .tabs {
        gap: 15px;
        font-size: 1.3em;
    }
}