.home-town-container {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: rgb(170, 170, 170);*/
    background-color: rgba(31, 58, 84, 0.47);
    background-blend-mode: multiply;
    color: white;
    font-family: 'Roboto';
    padding-left: 100px;
    border-bottom: 1px solid black;
}

.name-and-current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-shadow: 0 0 10px black;
    /*background-color: rgba(22, 22, 22, 0.333);
    border-radius: 10px;
    padding: 10px;
    padding-top: 15px;*/
}

.city-country {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2.5em;
}

.current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    opacity: 0.9;
    background-color: rgba(22, 22, 22, 0.734);
    border-radius: 10px;
    padding: 5px 15px;
}

.info {
    display: flex;
    align-items: center;
    cursor: default;
}

.state-icon {
    width: 50px;
}

i {
    margin-right: 10px;
}

.message{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto';
    font-size: 1.4em;
    border-bottom: 1px solid black;

}