.home-town-container {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: rgb(170, 170, 170);*/
    background-color: rgba(31, 58, 84, 0.47);
    background-blend-mode: multiply;
    color: white;
    font-family: 'Roboto';
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

.name-and-current-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-shadow: 0 0 10px black;
    padding-left: 100px;
    margin-top: 80px;
    /*background-color: rgba(22, 22, 22, 0.333);
    border-radius: 10px;
    padding: 10px;
    padding-top: 15px;*/
}

.city-country {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2.5em;
}

.current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    opacity: 0.9;
    background-color: rgba(22, 22, 22, 0.734);
    border-radius: 10px;
    padding: 5px 15px;
}

.info {
    display: flex;
    align-items: center;
    cursor: default;
}

.state-icon {
    width: 50px;
}

i {
    margin-right: 10px;
}

.message {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto';
    font-size: 1.4em;
    border-bottom: 1px solid black;
}

.future-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: default;
}

.today-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    overflow: hidden;
}

.today-text {
    margin: 10px 20px;
    font-size: 1.15em;
    text-shadow: 0 0 10px black;
    font-weight: bold;
}

.upcoming-hours-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    padding: 10px;
    background-color: rgba(22, 22, 22, 0.734);
    border-top-right-radius: 10px;
    opacity: 0.9;
    overflow-x: auto;
    width: 97%;
}

.hour-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.wind-humidity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-size: 0.8em;
    margin-top: 5px;
    opacity: 0.8;
}

.upcoming-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.upcoming-days-text {
    margin: 10px 20px;
    font-size: 1.15em;
    text-shadow: 0 0 10px black;
    font-weight: bold;
}

.upcoming-days-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    padding: 10px;
    background-color: rgba(22, 22, 22, 0.734);
    border-top-left-radius: 10px;
    opacity: 0.9;
    overflow-x: auto;
    width: 100%;
}

.day-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.sunrise-sunset {
    display: flex;
    gap: 15px;
    opacity: 0.8;
}

.sunrise,
.sunset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}

.sunrise-sunset img {
    width: 25px;
}

.website-brief-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.brief-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    font-family: 'Roboto';
    color: white;
    background-color: rgb(13, 113, 200);
    width: 350px;
    height: 270px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.6),
        0 8px 12px rgba(0, 0, 0, 0.4);
    transition: 0.25s ease;
}

.brief-box:hover{
    transform: scale(1.03);
}

.brief-image {
    text-align: center;
    font-size: 3em;
    margin: 0;
}

.brief-title {
    margin-top: 10px;
    margin-bottom: 0;
}

.brief-description {
    text-align: center;
    font-size: 1.1em;
    opacity: 0.9;
}

.brief-link{
    color: white;
    font-weight: bold;
}

/* Width */
.upcoming-hours-data::-webkit-scrollbar,
.upcoming-days-data::-webkit-scrollbar {
    width: 12px;
    height: 9px;
}

/* Track */
.upcoming-hours-data::-webkit-scrollbar-track,
.upcoming-days-data::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Thumb */
.upcoming-hours-data::-webkit-scrollbar-thumb,
.upcoming-days-data::-webkit-scrollbar-thumb {
    background: rgb(13, 113, 200);
    border-radius: 0px;
}

/* Hover */
.upcoming-hours-data::-webkit-scrollbar-thumb:hover,
.upcoming-days-data::-webkit-scrollbar-thumb:hover {
    background: #555;
}