.info {
    display: flex;
    align-items: center;
    cursor: default;
}

.state-icon {
    width: 50px;
}

i {
    margin-right: 10px;
}

.city-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Roboto';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(31, 58, 84, 0.47);
    background-blend-mode: multiply;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.6),
        0 8px 12px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 375px;
    width: 85%;
    margin-bottom: 25px;
    border: 1px solid black;
}

.name-and-current {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.city-box .city-country {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.7em;
    font-weight: 100;
    text-shadow: 0 0 10px black;
    margin-top: 20px;
}

.city-box .current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    opacity: 0.9;
    background-color: rgba(22, 22, 22, 0.734);
    border-radius: 10px;
    padding: 5px 5px;
    width: 40%;
}

.future-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: default;
}

.today-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    width: 45%;
}

.today-text {
    margin: 10px 20px;
    font-size: 1.15em;
    text-shadow: 0 0 10px black;
    font-weight: bold;
}

.upcoming-hours-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    padding: 10px;
    background-color: rgba(22, 22, 22, 0.734);
    border-top-right-radius: 10px;
    opacity: 0.9;
    overflow-x: auto;
}

.hour-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.wind-humidity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-size: 0.8em;
    margin-top: 5px;
    opacity: 0.8;
}

.upcoming-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.upcoming-days-text {
    margin: 10px 20px;
    font-size: 1.15em;
    text-shadow: 0 0 10px black;
    font-weight: bold;
}

.upcoming-days-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    padding: 10px;
    background-color: rgba(22, 22, 22, 0.734);
    border-top-left-radius: 10px;
    opacity: 0.9;
    overflow-x: auto;
}

.day-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.cities-container {
    width: 100%;
    min-height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.container-title {
    color: white;
    font-family: 'Roboto';
    margin-bottom: 20px;
    font-size: 1.5em;
}

.save-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    padding: 5px 15px;
    background-color: rgb(13, 113, 200);
    color: white;
    border: none;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: -1.5px 1.5px 5px black;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.save-button:hover {
    background-color: rgb(16, 97, 167);
}

.unsave {
    background-color: rgb(237, 133, 133);
}

.unsave:hover {
    background-color: rgb(218, 104, 104);
}

/* Width */
.upcoming-hours-data::-webkit-scrollbar,
.upcoming-days-data::-webkit-scrollbar {
    width: 12px;
    height: 9px;
}

/* Track */
.upcoming-hours-data::-webkit-scrollbar-track,
.upcoming-days-data::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Thumb */
.upcoming-hours-data::-webkit-scrollbar-thumb,
.upcoming-days-data::-webkit-scrollbar-thumb {
    background: rgb(13, 113, 200);
    border-radius: 0px;
}

/* Hover */
.upcoming-hours-data::-webkit-scrollbar-thumb:hover,
.upcoming-days-data::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 1024px) {
    .city-box .current-weather {
        gap: 20px;
        padding: 2px 5px;
        font-size: 0.9em;
        width: 65%;
        border-radius: 10px;
    }
}

@media (max-width: 600px) {
    .container-title {
        font-size: 1.2em;
    }

    .city-box {
        height: 450px;
        width: 90%;
        margin-bottom: 25px;
        border: 1px solid black;
    }

    .city-box .name-and-current {
        gap: 15px;
    }

    .city-box .city-country {
        gap: 10px;
        font-size: 1.1em;
        margin-top: 30px;
    }

    .city-box .current-weather {
        gap: 15px;
        padding-top: 5px;
        font-size: 0.6em;
        width: 90%;
        border-radius: 10px;
    }

    .state-icon {
        width: 30px;
    }

    .city-box .future-data {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .city-box .weather-icon{
        width: 45px;
    }

    .city-box .today-container {
        width: 100%;
    }

    .city-box .today-text {
        font-size: 0.8em;
    }

    .city-box .upcoming-hours-data {
        gap: 10px;
        font-size: 0.6em;
        border-radius: 0;
        width: 100%;
    }

    .city-box .hour-data {
        gap: 7px;
    }

    .city-box .upcoming-container {
        width: 100%;
    }

    .city-box .upcoming-days-text {
        font-size: 0.9em;
    }

    .city-box .upcoming-days-data {
        gap: 15px;
        font-size: 0.8em;
        border-top-left-radius: 0px;
    }

    .city-box .day-data {
        gap: 7px;
    }

    .save-button {
        font-size: 0.9em;
        padding: 5px 10px;
    }
}