.info {
    display: flex;
    align-items: center;
    cursor: default;
}

.state-icon {
    width: 50px;
}

i {
    margin-right: 10px;
}

.city-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Roboto';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(31, 58, 84, 0.47);
    background-blend-mode: multiply;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.6),
        0 8px 12px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 20px;
    width: 1000px;
    height: 360px;
    width: 85%;
    margin-bottom: 25px;
    border: 1px solid black;
}

.name-and-current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.city-country {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5em;
    text-shadow: 0 0 10px black;
    margin-top: 20px;
}

.current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    opacity: 0.9;
    background-color: rgba(22, 22, 22, 0.734);
    border-radius: 10px;
    padding: 5px 15px;
}

.future-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: default;
}

.today-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    overflow: hidden;
}

.today-text {
    margin: 10px 20px;
    font-size: 1.15em;
    text-shadow: 0 0 10px black;
    font-weight: bold;
}

.upcoming-hours-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    padding: 10px;
    background-color: rgba(22, 22, 22, 0.734);
    border-top-right-radius: 10px;
    opacity: 0.9;
    overflow-x: auto;
    width: 97%;
}

.hour-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.wind-humidity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-size: 0.8em;
    margin-top: 5px;
    opacity: 0.8;
}

.upcoming-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.upcoming-days-text {
    margin: 10px 20px;
    font-size: 1.15em;
    text-shadow: 0 0 10px black;
    font-weight: bold;
}

.upcoming-days-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    padding: 10px;
    background-color: rgba(22, 22, 22, 0.734);
    border-top-left-radius: 10px;
    opacity: 0.9;
    overflow-x: auto;
}

.day-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.sunrise-sunset {
    display: flex;
    gap: 15px;
    opacity: 0.8;
}

.sunrise,
.sunset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}

.sunrise-sunset img {
    width: 25px;
}

.save-button{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    padding: 5px 15px;
    background-color: rgb(13, 113, 200);
    color: white;
    border: none;
    border-bottom-left-radius: 10px;
    box-shadow: -1.5px 1.5px 5px black;
    cursor: pointer;
    transition: 0.25s ease;
}

.save-button:hover{
    background: rgb(16, 97, 167);
}

/* Width */
.upcoming-hours-data::-webkit-scrollbar,
.upcoming-days-data::-webkit-scrollbar {
    width: 12px;
    height: 9px;
}

/* Track */
.upcoming-hours-data::-webkit-scrollbar-track,
.upcoming-days-data::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Thumb */
.upcoming-hours-data::-webkit-scrollbar-thumb,
.upcoming-days-data::-webkit-scrollbar-thumb {
    background: rgb(13, 113, 200);
    border-radius: 0px;
}

/* Hover */
.upcoming-hours-data::-webkit-scrollbar-thumb:hover,
.upcoming-days-data::-webkit-scrollbar-thumb:hover {
    background: #555;
}